
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color: #5579e7;
  color: #000000;
  line-height: 1.6;
}

header {
  background-color: #068fad;
  padding: 40px 20px;
  text-align: center;
  border-bottom: 1px solid #000000;
}

.subtitle {
  color: #000000;
  margin-top: 10px;
}

main {
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 20px;
}

section {
  margin-bottom: 40px;
}

h2 {
  margin-bottom: 15px;
  border-bottom: 2px solid #000000;
  padding-bottom: 5px;
}


.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.gallery img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

figcaption {
  text-align: center;
  margin-top: 5px;
  color: #000000;
  font-size: 1em;

}

footer {
  text-align: center;
  padding: 20px;
  background-color: #068fad;
  border-top: 1px solid #000000;
  font-size: 0.9em;
}
